In [1]:
import pandas as pd
import numpy as np

In [9]:
full_data = pd.read_csv('/Users/yvesl/Downloads/card_transaction.v1.csv')

In [10]:
full_data.shape

(24386900, 15)

In [11]:
l = full_data.groupby("User").count()

In [14]:
l

,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
User,,,,,,,,,,,,,,
0,19963,19963,19963,19963,19963,19963,19963,19963,19963,18646,18316,19963,574,19963
1,8919,8919,8919,8919,8919,8919,8919,8919,8919,8249,8167,8919,146,8919
2,41978,41978,41978,41978,41978,41978,41978,41978,41978,25573,25359,41978,666,41978
3,10117,10117,10117,10117,10117,10117,10117,10117,10117,9121,8113,10117,96,10117
4,18542,18542,18542,18542,18542,18542,18542,18542,18542,16305,16080,18542,215,18542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,14713,14713,14713,14713,14713,14713,14713,14713,14713,14247,14227,14713,139,14713
1996,18012,18012,18012,18012,18012,18012,18012,18012,18012,16211,15871,18012,251,18012
1997,21607,21607,21607,21607,21607,21607,21607,21607,21607,20448,20289,21607,213,21607
1998,5782,5782,5782,5782,5782,5782,5782,5782,5782,5012,4930,5782,56,5782
1999,4761,4761,4761,4761,4761,4761,4761,4761,4761,3444,3384,4761,42,4761

In [15]:
users_to_keep = [7, 11, 18, 21, 1568]

In [16]:
restricted_data = full_data[full_data["User"].isin(users_to_keep)]

In [17]:
restricted_data.loc[:, "Errors?"].fillna(value="None", inplace=True)
restricted_data.loc[:, "Zip"].fillna(value=0, inplace=True)
restricted_data.loc[:, "Merchant State"].fillna(value="None", inplace=True)

/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/1097321282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data.loc[:, "Errors?"].fillna(value="None", inplace=True)
/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/1097321282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data.loc[:, "Zip"].fillna(value=0, inplace=True)
/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/1097321282.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data.loc[:, "Merchant State"].fillna(value="None", inplace=True)

In [18]:
restricted_data.isna().sum().sort_values(ascending=False)

User              0
Card              0
Year              0
Month             0
Day               0
Time              0
Amount            0
Use Chip          0
Merchant Name     0
Merchant City     0
Merchant State    0
Zip               0
MCC               0
Errors?           0
Is Fraud?         0
dtype: int64

In [19]:
restricted_data["Is Fraud?"] = restricted_data["Is Fraud?"].apply(lambda x: x == "Yes").astype(int)

/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/1386640218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["Is Fraud?"] = restricted_data["Is Fraud?"].apply(lambda x: x == "Yes").astype(int)

In [20]:
# Remove $ and convert to float
restricted_data["Amount"] = restricted_data["Amount"].str.replace("$", "", regex=True).astype("float")

# Set any negative amounts to zero
restricted_data["Amount"] = restricted_data["Amount"].apply(lambda x: max(0, x))

# Apply log-transformation
restricted_data["Amount"] = np.log1p(restricted_data["Amount"])

/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/986663744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["Amount"] = restricted_data["Amount"].str.replace("$", "", regex=True).astype("float")
/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/986663744.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["Amount"] = restricted_data["Amount"].apply(lambda x: max(0, x))
/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/986663744.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["Amount"] = np.log1p(restricted_data["Amount"])

In [21]:
restricted_data

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
149444,7,0,2020,1,1,06:05,2.086914,Swipe Transaction,2321783215064674866,Portland,OR,97214.0,5411,None,0
149445,7,0,2020,1,1,08:46,1.508512,Swipe Transaction,-5162038175624867091,Portland,OR,97214.0,5541,None,0
149446,7,0,2020,1,1,11:20,2.164472,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0
149447,7,0,2020,1,1,11:35,3.257712,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0
149448,7,0,2020,1,1,21:11,2.691921,Swipe Transaction,878534750241365141,Portland,OR,97216.0,5812,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19327343,1568,0,2007,8,30,23:06,3.582685,Swipe Transaction,39884867954317504,Elyria,OH,44035.0,5211,None,0
19327344,1568,0,2007,8,31,11:55,4.165890,Swipe Transaction,5410442242122475105,Elyria,OH,44035.0,5300,None,0
19327345,1568,0,2007,8,31,12:22,4.393214,Swipe Transaction,-8197168601486490972,Elyria,OH,44035.0,5912,None,0
19327346,1568,0,2007,8,31,16:25,3.716495,Swipe Transaction,-5581123930363301609,Elyria,OH,44035.0,5311,None,0
19327347,1568,0,2007,8,31,22:25,4.068856,Swipe Transaction,-5904116920141006298,North Ridgeville,OH,44039.0,5719,None,0

In [22]:
# Unify datetime columns in a single "TimeStamp" column


def timeEncoder(X):
    X_hm = X["Time"].str.split(":", expand=True)
    d = pd.to_datetime(
        dict(
            year=X["Year"], month=X["Month"], day=X["Day"], hour=X_hm[0], minute=X_hm[1]
        )
    ).astype(int)
    return pd.DataFrame(d)


restricted_data["TimeStamp"] = timeEncoder(restricted_data[["Year", "Month", "Day", "Time"]])

/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/2318818054.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["TimeStamp"] = timeEncoder(restricted_data[["Year", "Month", "Day", "Time"]])

In [23]:
restricted_data["TimeStamp"]

149444      1577858700000000000
149445      1577868360000000000
149446      1577877600000000000
149447      1577878500000000000
149448      1577913060000000000
                   ...
19327343    1188515160000000000
19327344    1188561300000000000
19327345    1188562920000000000
19327346    1188577500000000000
19327347    1188599100000000000
Name: TimeStamp, Length: 1150, dtype: int64

In [24]:
restricted_data["event_dt"] = pd.to_datetime(
    restricted_data["Year"].astype("str")
    + "-"
    + restricted_data["Month"].astype("str")
    + "-"
    + restricted_data["Day"].astype("int").astype("str")
    + " "
    + restricted_data["Time"],
    format="%Y-%m-%d %H:%M",
)

/var/folders/zn/ss9ytrbx4b34290lc94kw7vm0000gq/T/ipykernel_26398/3001020389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restricted_data["event_dt"] = pd.to_datetime(

In [25]:
restricted_data

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,TimeStamp,event_dt
149444,7,0,2020,1,1,06:05,2.086914,Swipe Transaction,2321783215064674866,Portland,OR,97214.0,5411,None,0,1577858700000000000,2020-01-01 06:05:00
149445,7,0,2020,1,1,08:46,1.508512,Swipe Transaction,-5162038175624867091,Portland,OR,97214.0,5541,None,0,1577868360000000000,2020-01-01 08:46:00
149446,7,0,2020,1,1,11:20,2.164472,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0,1577877600000000000,2020-01-01 11:20:00
149447,7,0,2020,1,1,11:35,3.257712,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0,1577878500000000000,2020-01-01 11:35:00
149448,7,0,2020,1,1,21:11,2.691921,Swipe Transaction,878534750241365141,Portland,OR,97216.0,5812,None,0,1577913060000000000,2020-01-01 21:11:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19327343,1568,0,2007,8,30,23:06,3.582685,Swipe Transaction,39884867954317504,Elyria,OH,44035.0,5211,None,0,1188515160000000000,2007-08-30 23:06:00
19327344,1568,0,2007,8,31,11:55,4.165890,Swipe Transaction,5410442242122475105,Elyria,OH,44035.0,5300,None,0,1188561300000000000,2007-08-31 11:55:00
19327345,1568,0,2007,8,31,12:22,4.393214,Swipe Transaction,-8197168601486490972,Elyria,OH,44035.0,5912,None,0,1188562920000000000,2007-08-31 12:22:00
19327346,1568,0,2007,8,31,16:25,3.716495,Swipe Transaction,-5581123930363301609,Elyria,OH,44035.0,5311,None,0,1188577500000000000,2007-08-31 16:25:00
19327347,1568,0,2007,8,31,22:25,4.068856,Swipe Transaction,-5904116920141006298,North Ridgeville,OH,44039.0,5719,None,0,1188599100000000000,2007-08-31 22:25:00

In [26]:
columns_to_keep = [
    "User",
    "event_dt",
    "Card",
    "TimeStamp",
    "Amount",
    "Use Chip",
    "Merchant Name",
    "Merchant City",
    "Merchant State",
    "Zip",
    "MCC",
    "Errors?",
    "Is Fraud?",
]

In [27]:
restricted_data = restricted_data[columns_to_keep]

In [28]:
restricted_data

,User,event_dt,Card,TimeStamp,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
149444,7,2020-01-01 06:05:00,0,1577858700000000000,2.086914,Swipe Transaction,2321783215064674866,Portland,OR,97214.0,5411,None,0
149445,7,2020-01-01 08:46:00,0,1577868360000000000,1.508512,Swipe Transaction,-5162038175624867091,Portland,OR,97214.0,5541,None,0
149446,7,2020-01-01 11:20:00,0,1577877600000000000,2.164472,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0
149447,7,2020-01-01 11:35:00,0,1577878500000000000,3.257712,Swipe Transaction,8919682822789039434,Portland,OR,97214.0,5814,None,0
149448,7,2020-01-01 21:11:00,0,1577913060000000000,2.691921,Swipe Transaction,878534750241365141,Portland,OR,97216.0,5812,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19327343,1568,2007-08-30 23:06:00,0,1188515160000000000,3.582685,Swipe Transaction,39884867954317504,Elyria,OH,44035.0,5211,None,0
19327344,1568,2007-08-31 11:55:00,0,1188561300000000000,4.165890,Swipe Transaction,5410442242122475105,Elyria,OH,44035.0,5300,None,0
19327345,1568,2007-08-31 12:22:00,0,1188562920000000000,4.393214,Swipe Transaction,-8197168601486490972,Elyria,OH,44035.0,5912,None,0
19327346,1568,2007-08-31 16:25:00,0,1188577500000000000,3.716495,Swipe Transaction,-5581123930363301609,Elyria,OH,44035.0,5311,None,0
19327347,1568,2007-08-31 22:25:00,0,1188599100000000000,4.068856,Swipe Transaction,-5904116920141006298,North Ridgeville,OH,44039.0,5719,None,0

In [29]:
restricted_data.to_csv("test_data.csv", index=False, encoding="utf8")

In [2]:
from tabformerlite.dataset.dataset import TabDataset
from tabformerlite.misc.tools_for_data_encoding import select_discretization_strategy
import json

In [3]:
data = pd.read_csv("test_data/test_data.csv")

In [4]:
import os

In [5]:
os.system(f'python ../scripts/encode_dataset.py -cfg ./test_configs/test_dataset_encoding.json')

2024-01-03 17:06:45.374 | INFO     | __main__:main:42 - Loading the data
2024-01-03 17:06:45.377 | INFO     | __main__:main:49 - Data shape: (1563, 13)

2024-01-03 17:06:45.379 | INFO     | tabformerlite.misc.tools_for_data_encoding:select_discretization_strategy:96 - Nbr of categorical cols: 4
2024-01-03 17:06:45.379 | INFO     | tabformerlite.misc.tools_for_data_encoding:select_discretization_strategy:97 - Nbr of to_quantize_columns: 2
2024-01-03 17:06:45.379 | INFO     | tabformerlite.misc.tools_for_data_encoding:select_discretization_strategy:98 - Nbr of cols_no_transform: 4

2024-01-03 17:06:45.379 | INFO     | __main__:main:71 - Encoding the dataset
Encoding categorical columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 1299.05it/s]
Encoding quantizable columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 1070.11it/s]
Vocabulary creation for each column: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 5734.62it/s]
Generating data sample indices: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 63358.07it/s]
Converting the columns tokens to ids using the vocabulary: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 4185.93it/s]
2024-01-03 17:06:45.405 | INFO     | __main__:main:90 - Vocab size: 364

2024-01-03 17:06:45.405 | INFO     | __main__:main:101 - Encoded data will be exported in: /Users/yvesl/workspace/PycharmProjects/TabFormer_Cheetah/tests/test_data/data_encoded_seq_len_10_stride_5_bins_10
2024-01-03 17:06:45.405 | INFO     | __main__:main:107 - Exporting vocabulary and encoders
2024-01-03 17:06:45.407 | INFO     | __main__:main:111 - Exporting processed data
2024-01-03 17:06:45.409 | INFO     | __main__:main:115 - Exporting config file

0

In [6]:
os.system(f'python ../scripts/run_mlm_pretraining.py -cfg ./test_configs/test_pretraining_config.json')

2024-01-03 17:06:48.076 | INFO     | __main__:main:77 - Output path: ./test_models/pretraining/embedding_size_300

2024-01-03 17:06:48.077 | INFO     | __main__:main:90 - Loading encoded dataset

2024-01-03 17:06:48.077 | INFO     | tabformerlite.dataset.dataset:__init__:117 - Loading the encoders
2024-01-03 17:06:48.077 | INFO     | tabformerlite.dataset.dataset:__init__:132 - Loading the encoded data
2024-01-03 17:06:48.078 | INFO     | __main__:main:147 - Creating an instance of the TabFormer model
2024-01-03 17:06:48.083 | INFO     | __main__:main:190 - Model parameters:

2024-01-03 17:06:48.084 | INFO     | __main__:main:270 - Training arguments and model parameters:

  0%|          | 0/2 [00:00<?, ?it/s]

[   {   'field_hidden_size': 16,
        'hidden_size': 8,
        'mlm_average_loss': True,
        'model_params': 70628,
        'model_size (GB)': 0.00027073919773101807,
        'ncols': 11,
        'num_attention_heads': 2,
        'num_hidden_layers': 1,
        'tab_embedding_dropout': 0.1,
        'tab_embedding_num_encoder_layers': 1,
        'tab_embeddings_num_attention_heads': 2,
        'vocab_size': 364}]

[   {   'batch_size': 256,
        'effective batch_size': 256,
        'grad_acc_steps': 1,
        'logging_steps': 1,
        'lr_max': 0.005,
        'nbr_gpu': 1,
        'num_epochs': 1,
        'save_steps': 1,
        'scheduler': 'inverse_sqrt_with_warm_up',
        'steps per epoch': 1,
        'total_steps': 1,
        'warm_up_steps': 0},
    [   {   'field_hidden_size': 16,
            'hidden_size': 8,
            'mlm_average_loss': True,
            'model_params': 70628,
            'model_size (GB)': 0.00027073919773101807,
            'ncols': 11,
            'num_attention_heads': 2,
            'num_hidden_layers': 1,
            'tab_embedding_dropout': 0.1,
            'tab_embedding_num_encoder_layers': 1,
            'tab_embeddings_num_attention_heads': 2,
            'vocab_size': 364}]]

 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 1/2 [00:09<00:09,  9.25s/it]

{'loss': 0.382, 'learning_rate': 0.0, 'epoch': 0.5}

 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 1/2 [00:21<00:09,  9.25s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 306.94it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:32<00:00, 17.45s/it]

{'eval_loss': 0.3589436709880829, 'eval_cross_entropy_loss': 0.7880423665046692, 'eval_accuracy': 0.22033898305084745, 'eval_f1_weighted': 0.23062953995157387, 'eval_f1_macro': 0.0946687370600414, 'eval_recall': 0.09513457556935818, 'eval_precision': 0.1358695652173913, 'eval_runtime': 12.6066, 'eval_samples_per_second': 0.317, 'eval_steps_per_second': 0.079, 'epoch': 0.5}
{'loss': 0.3685, 'learning_rate': 0.0, 'epoch': 1.0}

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:44<00:00, 17.45s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 196.34it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:44<00:00, 22.48s/it]

{'eval_loss': 0.39120033383369446, 'eval_cross_entropy_loss': 0.7749226689338684, 'eval_accuracy': 0.1724137931034483, 'eval_f1_weighted': 0.16825396825396827, 'eval_f1_macro': 0.06151542377957473, 'eval_recall': 0.06540880503144654, 'eval_precision': 0.059748427672955975, 'eval_runtime': 12.4537, 'eval_samples_per_second': 0.321, 'eval_steps_per_second': 0.08, 'epoch': 1.0}
{'train_runtime': 44.9615, 'train_samples_per_second': 6.717, 'train_steps_per_second': 0.044, 'train_loss': 0.3752405047416687, 'epoch': 1.0}

0

In [7]:
os.system("poetry run python ../scripts/inference_main.py -cfg ./test_configs/test_inference_config.json")

2024-01-03 17:07:35.696 | INFO     | __main__:main:33 - Collecting information about pre-trained Tabformer model
2024-01-03 17:07:35.696 | INFO     | __main__:main:43 - Collecting information about pre-training data

2024-01-03 17:07:35.696 | INFO     | tabformerlite.inference.load_data:load_data_for_encoding:38 - Loading inference data - START
2024-01-03 17:07:35.700 | INFO     | tabformerlite.inference.load_data:load_data_per_set_type:119 - Imbalance percentage for train set: [1561, 2], [99.87, 0.13]
2024-01-03 17:07:35.704 | INFO     | tabformerlite.inference.load_data:load_data_per_set_type:119 - Imbalance percentage for valid set: [1561, 2], [99.87, 0.13]
2024-01-03 17:07:35.709 | INFO     | tabformerlite.inference.load_data:load_data_per_set_type:119 - Imbalance percentage for test set: [1561, 2], [99.87, 0.13]
2024-01-03 17:07:35.710 | INFO     | tabformerlite.inference.load_data:load_data_for_encoding:56 - Training set shape: (1563, 13)
2024-01-03 17:07:35.710 | INFO     | tabformerlite.inference.load_data:load_data_for_encoding:57 - Validation set shape: (1563, 13)
2024-01-03 17:07:35.710 | INFO     | tabformerlite.inference.load_data:load_data_for_encoding:58 - Test set shape: (1563, 13)
2024-01-03 17:07:35.710 | INFO     | tabformerlite.inference.load_data:load_data_for_encoding:59 - Loading inference data - END

2024-01-03 17:07:35.710 | INFO     | __main__:main:57 - Creating TabDataset for the training data - START
2024-01-03 17:07:35.711 | INFO     | tabformerlite.dataset.dataset:__init__:117 - Loading the encoders
Encoding categorical columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 1313.70it/s]
Encoding quantizable columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 1343.25it/s]
Generating data sample indices: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 12249.72it/s]
Converting the columns tokens to ids using the vocabulary: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 3990.39it/s]
2024-01-03 17:07:35.731 | INFO     | tabformerlite.inference.encode_data:encode:115 - length: 1518
2024-01-03 17:07:35.731 | INFO     | __main__:main:59 - Creating TabDataset for the training data - END

2024-01-03 17:07:35.731 | INFO     | __main__:main:61 - Creating TabDataset for the validation data - START
2024-01-03 17:07:35.732 | INFO     | tabformerlite.dataset.dataset:__init__:117 - Loading the encoders
Encoding categorical columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 3212.80it/s]
Encoding quantizable columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 1835.58it/s]
Generating data sample indices: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 4029.11it/s]
Converting the columns tokens to ids using the vocabulary: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 4271.62it/s]
2024-01-03 17:07:35.742 | INFO     | tabformerlite.inference.encode_data:encode:115 - length: 1518
2024-01-03 17:07:35.742 | INFO     | __main__:main:63 - Creating TabDataset for the validation data - END

2024-01-03 17:07:35.742 | INFO     | __main__:main:65 - Creating TabDataset for the test data - START
2024-01-03 17:07:35.743 | INFO     | tabformerlite.dataset.dataset:__init__:117 - Loading the encoders
Encoding categorical columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 2943.37it/s]
Encoding quantizable columns: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 1741.82it/s]
Generating data sample indices: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:00<00:00, 14706.54it/s]
Converting the columns tokens to ids using the vocabulary: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 4800.62it/s]
2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:encode:115 - length: 1518
2024-01-03 17:07:35.752 | INFO     | __main__:main:67 - Creating TabDataset for the test data - END

2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:load_vocab_and_special_tokens:125 - Extracting vocabulary and special tokens - START
2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:load_vocab_and_special_tokens:135 - ncols: 11
2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:load_vocab_and_special_tokens:136 - custom_special_tokens: {'unk_token': 'SPECIAL_[UNK]', 'sep_token': 'SPECIAL_[SEP]', 'pad_token': 'SPECIAL_[PAD]', 'cls_token': 'SPECIAL_[CLS]', 'mask_token': 'SPECIAL_[MASK]', 'bos_token': 'SPECIAL_[BOS]', 'eos_token': 'SPECIAL_[EOS]'}
2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:load_vocab_and_special_tokens:137 - Vocab size: 364
2024-01-03 17:07:35.752 | INFO     | tabformerlite.inference.encode_data:load_vocab_and_special_tokens:138 - Extracting vocabulary and special tokens - END

2024-01-03 17:07:35.753 | INFO     | tabformerlite.inference.load_model:from_pretrained:184 - Loading TabFormer model - START
2024-01-03 17:07:35.758 | INFO     | tabformerlite.inference.load_model:from_pretrained:201 - Loading weights from pretrained model

2024-01-03 17:07:35.758 | INFO     | tabformerlite.inference.load_model:load_weights_from_ckpt:150 - Loading weights from checkpoint: /Users/yvesl/workspace/PycharmProjects/TabFormer_Cheetah/tests/test_models/pretraining/embedding_size_300/checkpoint-2
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.load_model:to_device:171 - Sending model to cpu device.
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.load_model:from_pretrained:207 - Loading TabFormer model - END

2024-01-03 17:07:35.760 | INFO     | __main__:main:77 - Extracting embeddings - START
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.extract_embeddings:__init__:227 - Strategy for pooling on layer axis: single_layer_pooling
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.extract_embeddings:__init__:231 - Pooling layer used: -1
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.extract_embeddings:__init__:235 - Strategy for pooling on time axis: mean_pooling
2024-01-03 17:07:35.760 | INFO     | tabformerlite.inference.extract_embeddings:__init__:237 - time_pooling_nb_days: 10

2024-01-03 17:07:35.760 | INFO     | __main__:main:81 - Extracting embeddings for the training data - START
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 14.46it/s]
2024-01-03 17:07:35.902 | INFO     | __main__:main:83 - Embeddings for training data shape: 1518
2024-01-03 17:07:35.902 | INFO     | __main__:main:84 - Extracting embeddings for the training data - END

2024-01-03 17:07:35.902 | INFO     | __main__:main:87 - Extracting embeddings for the validation data - START
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 16.65it/s]
2024-01-03 17:07:36.025 | INFO     | __main__:main:89 - Embeddings for validation data shape: 1518
2024-01-03 17:07:36.025 | INFO     | __main__:main:90 - Extracting embeddings for the validation data - END

2024-01-03 17:07:36.025 | INFO     | __main__:main:93 - Extracting embeddings for the test data - START
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 16.66it/s]
2024-01-03 17:07:36.148 | INFO     | __main__:main:95 - Embeddings for test data shape: 1518
2024-01-03 17:07:36.148 | INFO     | __main__:main:96 - Extracting embeddings for the test data - END

2024-01-03 17:07:36.148 | INFO     | __main__:main:100 - Extracting embeddings - END

2024-01-03 17:07:36.148 | INFO     | tabformerlite.inference.export_downstream_data:export_data:38 - Exporting embeddings with labels for downstream tasks - START
2024-01-03 17:07:36.179 | INFO     | tabformerlite.inference.export_downstream_data:export_data:49 - Data shape: (13752, 11)
2024-01-03 17:07:36.180 | INFO     | tabformerlite.inference.export_downstream_data:export_data:56 - Output file name: /Users/yvesl/workspace/PycharmProjects/TabFormer_Cheetah/tests/test_data/inference_output/embedding_size_300/checkpoint-2_last_hidden_single_layer_pooling_10_days_mean_pooling.parquet
2024-01-03 17:07:36.205 | INFO     | tabformerlite.inference.export_downstream_data:export_data:80 - Exporting embeddings with labels for downstream tasks - END

0